# Composer dependencies
/vendor/
/composer.lock

/src/Resources/app/administration/node_modules/
/src/Resources/app/administration/src/.vite
/src/Resources/public/

# Python
__pycache__/
/*.pyc
*.pyo
*.pyd
.env
.venv/
env/
venv/

# Node.js
/node_modules/
/npm-debug.log
/yarn-error.log

# Java
*.class
*.jar
*.war
*.ear
/build/
/out/

# SQL dumps
*.sql
*.sqlite

# OS files
.DS_Store
Thumbs.db

# IDE files
.idea/
*.iml

# Ant build
/build.xml
/dist/

# Misc
*.log
*.tmp
*.cache