parameters:
    paths:
        - 'src/'

    # Set the level to 9 (the highest level)
    level: 9

    ignoreErrors: []

    parallel:
        jobSize: 20
        maximumNumberOfProcesses: 32
        minimumNumberOfJobsPerProcess: 2